<!-- Top navigation -->
<div class="topnav">
  <div>
    <img src="./../../../assets/logo_hub.png" height="40" width="100" />
  </div>

  <div class="topnav-centered">
    <a href="#home" class="active">
      <img src="./../../../assets/MetLife.png" />
    </a>
  </div>

  <div class="topnav-right">
    <input type="text" placeholder="Search..." />
    <fa-icon [icon]="faBell" size="xl"></fa-icon>
    <span>Chhatrapani...</span>
    <div class="user" (click)="handleUserClick()" >CP</div>
  </div>
</div>
